@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    /* background-color: rgb(121, 121, 121); */

}

body {
    height: auto;
    font-size: 100%;
}

 .cabecalho {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 10px 0px;
    background-color: rgba(18, 24, 24, 0.7);
 }

 /* .cabecalho.menu-rolagem {
    background-color: #121818;
    opacity: 20%;
    transition: 0.3s;
 } */

 .top {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
 }

 .logo {
    height: auto;
    display: flex;
    align-items: center;
    flex-grow: 0;
    margin-right: 1%;
    margin-left: 5%;
    transform: scale(1);
    transition: 0.5s;
 }

 .menu {
    opacity: 1;
    display: flex;
    flex-grow: 3;
    align-items: center;
    justify-content: center;
 }

 .cabecalho-menu-item {
    margin: 0 50px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    transform: scale(1);
    transition: 0.5s;
 }

 .cabecalho-menu-item:hover {
    color: #049DBF;
    text-shadow: 0px 0px 30px #049DBF;
    transform: scale(1.1);
    transition: 0.5s;
 }

.logo:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.banner {
    height: 90vh;
    background-image: url(/img/Paredes/_MG_1449.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo-inicial {
    height: 105vh;
    background: url(/img/Ambiente/slide2-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
}

.container-conteudo {
    background-color: #121818;
    height: 100%;
    width: 45%;
    padding: 1.5%;
    border-radius: 0% 3% 3% 0%;
    box-shadow: 0px 0px 20px 0px;
}

.container-conteudo-titulo {
    height: 15%;
    margin-top: 3%;
    background-color: #121818;
    color: #EEE8F1;
}

.container-conteudo-paragrafo {
    background-color: #121818;
    color: #EEE8F1;
    text-align: justify;
    height: 85%;
}

.container-imagem {
    background: url(/img/Ambiente/_MG_1367.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 55%;
    border-radius: 3% 0% 0% 3%;
    box-shadow: 0px 0px 20px 0px;
}

.conteudo-intermediario {
    height: 200vh;
    background: url(/img/Queijos/slide3-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.container-intermediario {
    width: 100%;
    height: 100%;
    display: flex;
    /* display: grid;
    grid-template-columns: 450px 450px 450px; */
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    row-gap: 30px;
}

.container-intermediario-bloco {
    background-color: violet;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
}

.container-intermediario-bloco-titulo {
    width: 30%;
    height: 100%;
    background-color: #792226;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.container-intermediario-bloco1, .container-intermediario-bloco2, .container-intermediario-bloco3, .container-intermediario-bloco4, .container-intermediario-bloco5 {
    background-color: #D97F30;
    width: 100%;
    height: 100%;
    min-width: 400px;
    max-width: 450px;
    max-height: 600px;
    display: flex;
    flex-flow: column wrap;
    padding: 1%;
    box-shadow: 0px 0px 20px 0px;
    border-radius: 3%;
}

.container-intermediario-bloco2 {
    background-color: #A64657;
}

.container-intermediario-bloco3 {
    background-color: #1D2B2E;
}

.container-intermediario-bloco4 {
    background-color: #591D22;
}

.container-intermediario-bloco5 {
    background-color: #792226;
}

.container-intermediario-bloco-conteudo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item-intermediario-bloco-conteudo-queijo1, .item-intermediario-bloco-conteudo-queijo2, .item-intermediario-bloco-conteudo-queijo3, .item-intermediario-bloco-conteudo-queijo4, .item-intermediario-bloco-conteudo-queijo5 {
    background: url(/img/Queijos/_MG_1301.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.item-intermediario-bloco-conteudo-queijo2 {
    background: url(/img/Queijos/_MG_1304.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item-intermediario-bloco-conteudo-queijo3 {
    background: url(/img/Queijos/_MG_1312-mob.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.item-intermediario-bloco-conteudo-queijo4 {
    background: url(/img/Queijos/_MG_1320.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item-intermediario-bloco-conteudo-queijo5 {
    background: url(/img/Queijos/_MG_1317.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item-intermediario-bloco-conteudo-titulo1, .item-intermediario-bloco-conteudo-titulo2, .item-intermediario-bloco-conteudo-titulo3, .item-intermediario-bloco-conteudo-titulo4, .item-intermediario-bloco-conteudo-titulo5 {
    background-color: #733E1F;
    color: #EEE8F1;
    height: 7%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.item-intermediario-bloco-conteudo-titulo2 {
    background-color: #8C3F46;
}

.item-intermediario-bloco-conteudo-titulo3 {
    background-color: #BF4A30;
}

.item-intermediario-bloco-conteudo-titulo4 {
    background-color: #591D22;
}

.item-intermediario-bloco-conteudo-titulo5 {
    background-color: #792226;
}

.item-intermediario-bloco-conteudo-paragrafo1, .item-intermediario-bloco-conteudo-paragrafo2, .item-intermediario-bloco-conteudo-paragrafo3, .item-intermediario-bloco-conteudo-paragrafo4, .item-intermediario-bloco-conteudo-paragrafo5 {
    background-color: #D9A577;
    color: white;
    height: 22%;
    width: 100%;
    padding: 2%;
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    border-radius: 0px 0px 10px 10px;
}

.item-intermediario-bloco-conteudo-paragrafo2 {
    background-color: #F2C299;
}

.item-intermediario-bloco-conteudo-paragrafo3 {
    background-color: #D9965B;
}

.item-intermediario-bloco-conteudo-paragrafo4 {
    background-color: #D99E6A;
}

.item-intermediario-bloco-conteudo-paragrafo5 {
    background-color: #D99E6A;
}

.item-intermediario-bloco-conteudo-botao1, .item-intermediario-bloco-conteudo-botao2, .item-intermediario-bloco-conteudo-botao3, .item-intermediario-bloco-conteudo-botao4, .item-intermediario-bloco-conteudo-botao5 {
    background-color: #733E1F;
    color: #EEE8F1;
    height: 5%;
    width: 25%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 10px 0px;
    transform: scale(1);
    transition: 0.5s;
}

.item-intermediario-bloco-conteudo-botao1:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.item-intermediario-bloco-conteudo-botao2 {
    background-color: #8C3F46;
}

.item-intermediario-bloco-conteudo-botao2:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.item-intermediario-bloco-conteudo-botao3 {
    background-color: #BF4A30;
}

.item-intermediario-bloco-conteudo-botao3:hover {
    background-color: #BF4A30;
    transform: scale(1.1);
    transition: 0.5s;
}

.item-intermediario-bloco-conteudo-botao4 {
    background-color: #792226;
}

.item-intermediario-bloco-conteudo-botao4:hover {
    background-color: #792226;
    transform: scale(1.1);
    transition: 0.5s;
}

.item-intermediario-bloco-conteudo-botao5 {
    background-color: #591D22;
}

.item-intermediario-bloco-conteudo-botao5:hover {
    background-color: #591D22;
    transform: scale(1.1);
    transition: 0.5s;
}

.conteudo-final {
    background: url(/img/Local/_MG_1143.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 105vh;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.container-final-conteudo {
    background-color: #f8f8ff;
    width: 45%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
    border-radius: 3% 0% 0% 3%;
    box-shadow: 0px 0px 20px 0px;
}

.container-final-conteudo-bloco1 {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-final-conteudo-bloco1-titulo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 700;
    line-height: 1.5em;
}

.container-final-conteudo-bloco2, .container-final-conteudo-bloco4, .container-final-conteudo-bloco6, .container-final-conteudo-bloco8 {
    width: 30%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-final-conteudo-bloco2 {
    background-image: url(/img/queijo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.container-final-conteudo-bloco4 {
    background-image: url(/img/service.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.container-final-conteudo-bloco6 {
    background-image: url(/img/maps.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.container-final-conteudo-bloco3, .container-final-conteudo-bloco5, .container-final-conteudo-bloco7, .container-final-conteudo-bloco9 {
    background-color: violet;
    width: 66%;
    height: 12%;
    margin-right: 4%;
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    border-radius: 10px 10px 10px 10px;
}

.container-final-conteudo-bloco9 {
    width: 100%;
    height: 14%;
}

.container-final-conteudo-bloco9-botao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #02732A;
    width: 30%;
    height: 100%;
    border-radius: 10px 0px 10px 0px;
    color: white;
    transform: scale(1);
    transition: 0.5s;
}

.container-final-conteudo-bloco9-botao:hover {
    background-color: #5AA637;
    transform: scale(1.1);
    transition: 0.5s;
}

.container-final-conteudo-bloco3 {
    background-color: #81D2EB;
}

.container-final-conteudo-bloco5 {
    background-color: #FFD75E;
}

.container-final-conteudo-bloco7 {
    background-color: #87E0C8;
}

.container-final-conteudo-bloco9 {
    background-color: #f8f8ff;
}

.container-final-conteudo-bloco3-texto, .container-final-conteudo-bloco5-texto, .container-final-conteudo-bloco7-texto {
    text-align: justify;
}

.container-final-imagem {
    background: url(/img/Canon_40D/IMG_9384.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 55%;
    border-radius: 0% 3% 3% 0%;
    box-shadow: 0px 0px 20px 0px;
}

.rodape {
    background-color: #121818;
    height: 30vh;
    color: white;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.rodape-logo {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape-logo-img {
    transform: scale(1);
    transition: 0.5s;
}

.rodape-logo-img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.rodape-conteudo {
    width: 80%;
    height: 100%;
    /* background-color: #81D2EB; */
    padding: 0.5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.rodape-conteudo-bloco {
    /* background-color: tomato; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 100%; 
}

.rodape-conteudo-bloco-1 {
    width: 100%;
    height: 100%;
    color: white;
    /* background-color: violet; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.rodape-conteudo-bloco-1 a {
    color: white;
}

.rodape-conteudo-bloco-1 a:hover {
    color: #02732A;
}

.rodape-conteudo-bloco-1-titulo {
    width: 100%;
    text-align: center;
}

.rodape-conteudo-bloco-1-inicio, .rodape-conteudo-bloco-2-about, .rodape-conteudo-bloco-3-produtos, .rodape-conteudo-bloco-4-galeria, .rodape-conteudo-bloco-5-contato {
    width: 100%;
}

.rodape-conteudo-bloco-2 {
    /* background-color: #5AA637; */
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.rodape-conteudo-bloco-2-titulo, .rodape-conteudo-bloco-2-texto, .rodape-conteudo-bloco-2-texto2, .rodape-conteudo-bloco-2-texto3 {
    width: 100%;
    text-align: center;
}

.rodape-conteudo-bloco-3 {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.rodape-conteudo-bloco-3-titulo, .rodape-conteudo-bloco-3-iconeemail, .rodape-conteudo-bloco-3-endereco {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rodape-conteudo-bloco-4 {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 3%;
    line-height: 1.5em;
}

.rodape-conteudo-bloco-4-parte1, .rodape-conteudo-bloco-4-parte2, .rodape-conteudo-bloco-4-parte3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}