@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    /* background-color: rgb(121, 121, 121); */

}

body {
    height: auto;
    font-size: 100%;
}

 .cabecalho {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 10px 0px;
    background-color: rgba(18, 24, 24, 0.7);
 }

 /* .cabecalho.menu-rolagem {
    background-color: #121818;
    opacity: 20%;
    transition: 0.3s;
 } */

 .top {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
 }

 .logo {
    display: flex;
    align-items: center;
    flex-grow: 0;
    margin-right: 1%;
    margin-left: 5%;
    transform: scale(1);
    transition: 0.5s;
 }

 .menu {
    opacity: 1;
    display: flex;
    flex-grow: 3;
    align-items: center;
    justify-content: center;
 }

 .cabecalho-menu-item {
    margin: 0 50px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    transform: scale(1);
    transition: 0.5s;
 }

 .cabecalho-menu-item:hover {
    color: #D99B29;
    text-shadow: 0px 0px 30px #D99B29;
    transform: scale(1.1);
    transition: 0.5s;
 }

.logo:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.banner {
    height: 90vh;
    background-image: url(/img/Paredes/_MG_1449.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo-inicial {
    height: 105vh;
    /* background-color: #02732A; */
    background: url(/img/Ambiente/_MG_1367.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
}

.container-conteudo {
    background-color: #121818;
    height: 100%;
    width: 45%;
    padding: 1.5%;
    border-radius: 0% 3% 3% 0%;
    box-shadow: 0px 0px 20px 0px;
}

.container-conteudo-titulo {
    height: 15%;
    margin-top: 3%;
    background-color: #121818;
    color: #EEE8F1;
}

.container-conteudo-paragrafo {
    background-color: #121818;
    color: #EEE8F1;
    text-align: justify;
    height: 85%;
}

.container-imagem {
    background: url(/img/Ambiente/_MG_1367.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 55%;
    border-radius: 3% 0% 0% 3%;
    box-shadow: 0px 0px 20px 0px;
}

.conteudo-intermediario {
    height: 200vh;
    background: url(/img/Queijos/_MG_1269.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: auto auto;
}

.container-intermediario-bloco1 {
    background-color: #121818;
    min-width: 400px;
    max-width: 665px;
    max-height: 600px;
    border: 2px solid black;
    margin-inline: 5%;
    margin-block: 5%;
    display: flex;
    flex-flow: column wrap;
}

.item-intermediario-bloco1-queijo1 {
    background: url(/img/Queijos/_MG_1301.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65%;
}

.item-intermediario-bloco1-titulo {
    background-color: #121818;
    color: #EEE8F1;
    height: 8%;
    padding: 1%;
    text-align: center;
}

.item-intermediario-bloco1-paragrafo {
    background-color: #121818;
    color: #EEE8F1;
    height: 20%;
    text-align: justify;
    padding: 2%;
}

.item-intermediario-bloco1-botao {
    background-color: blue;
    color: #EEE8F1;
    height: 3%;
    margin-right: 20px;
    text-align: right;
}

.container-final {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 !important;
    overflow: hidden;
}


footer {
    background-color: blue;
    height: 30vh;
}